<div class="container">

    <ul class="nav nav-tabs">
        <li> <a routerLink="/medi-detail" data-toggle="tab" aria-expanded="true">Detail</a></li>
        <li> <a routerLink="/medi-detail" data-toggle="tab" aria-expanded="false">Reviews</a></li>
    </ul>


    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="https://images.iacpublishinglabs.com/reference-production-images/question/aq/700px-394px/advil-contain-aspirin_becfc50fe4587811.jpg">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, harum. Officia veritatis explicabo, eveniet repudiandae iusto consequuntur fugiat ut repellat, est non delectus totam recusandae quaerat, rerum fugit, soluta maxime?
        </div>

    </div>
    <hr>
    <h3>User Reviews</h3>
    <ul class="list-group">
        <li class="list-group-item well">
            <h5>By Frank Updated 2010-09-30</h5>
            <app-rating></app-rating>




            <p>Awesome product I loved it and it was wonderfull</p>
        </li>
        <li class="list-group-item well">
            <h5>By Sara Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>this product seems to be fine</p>
        </li>
        <li class="list-group-item well">
            <h5>By Randy Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>this product seems to be fine</p>
        </li>
        <li class="list-group-item well">
            <h5>By Frank Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>this product seems to be fine</p>
        </li>
        <li class="list-group-item well">
            <h5>By Melony Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio unde ullam, inventore ipsa quis esse quo quisquam. Nesciunt aliquid, fugit similique, quidem, odit autem repellendus atque quis, dolorum ipsum accusamus.</p>
        </li>
        <li class="list-group-item well">
            <h5>By Mary Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>this product seems to be fine</p>
        </li>
        <li class="list-group-item well">
            <h5>By Frank Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>this product seems to be fine</p>
        </li>
    </ul>

</div>