<div class="container">

    <ul class="nav nav-tabs">
        <li> <a routerLink="/medi-detail" data-toggle="tab" aria-expanded="true">Detail</a></li>
        <li> <a routerLink="/medi-detail" data-toggle="tab" aria-expanded="false">Reviews</a></li>
    </ul>


    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="https://images.iacpublishinglabs.com/reference-production-images/question/aq/700px-394px/advil-contain-aspirin_becfc50fe4587811.jpg">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, harum. Officia veritatis explicabo, eveniet repudiandae iusto consequuntur fugiat ut repellat, est non delectus totam recusandae quaerat, rerum fugit, soluta maxime?
        </div>

    </div>
    <hr>
    <h3>User Reviews:
        <a onclick="document.getElementById('revId').style.display='block'" class="btn btn-info">Post a Review</a>
    </h3>
    <hr>

    <div id="revId" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="document.getElementById('revId').style.display='none'">&times;</button>
                    <h4 class="modal-title">Post a Review</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="inputName" class="col-lg-2 control-label">Name</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRating" class="col-lg-2 control-label">Rating</label>
                                <div class="col-lg-10">
                                    <app-rating></app-rating>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="revArea" class="col-lg-2 control-label">Review</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="4" id="revArea"></textarea>
                                </div>
                            </div>

                        </fieldset>
                    </form>


                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item well">
            <h5>By Frank Updated 2010-09-30</h5>
            <app-rating></app-rating>




            <p>Awesome product I loved it and it was wonderfull</p>
        </li>
        <li class="list-group-item well">
            <h5>By Sara Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>this product seems to be fine</p>
        </li>
        <li class="list-group-item well">
            <h5>By Randy Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>this product seems to be fine</p>
        </li>
        <li class="list-group-item well">
            <h5>By Frank Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>this product seems to be fine</p>
        </li>
        <li class="list-group-item well">
            <h5>By Melony Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio unde ullam, inventore ipsa quis esse quo quisquam. Nesciunt aliquid, fugit similique, quidem, odit autem repellendus atque quis, dolorum ipsum accusamus.</p>
        </li>
        <li class="list-group-item well">
            <h5>By Mary Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>this product seems to be fine</p>
        </li>
        <li class="list-group-item well">
            <h5>By Frank Updated 2010-09-30</h5>
            <app-rating></app-rating>
            <p>this product seems to be fine</p>
        </li>
    </ul>

</div>