<div class="container">
    <div class="jumbotron">
        <h3 class="display-3">
            Over the counter Drugs</h3>
        <p class="lead">

            This App is for over the counter drugs (OTC) which allow you to lookup medicines that are available without required prescriptions. You can purchase them at your local pharmacy and create your own reviews, check reviews and details about each medicine. </p>
        <a href="https://github.com/broosted/OTC">Github Link</a>
        <hr class="my-4">

        <p class="lead">Please feel free to contact me in case of any questions</p>
    </div>
</div>