/* .bg {
    background-image: url("https://static.pexels.com/photos/415825/pexels-photo-415825.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */