span {
    font-size: 28px;
    cursor: pointer;
}

.ion-ios-star {
    color: #c6b709;
}

.ion-ios-star-half {
    color: #c6b709;
}

.container {
    width: 300px;
    margin-left: 0px;
    padding-left: 0px;
}